
@import url(github.css);

.header {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

h2 {
    font-size: 1.8rem;
    color: #999;
}

h3 {
    font-size: 3.2rem;
}

h4, h5, h6 {
    padding-top: 3rem;
}

h1 > a, h3 > a {
    color: #222;
}

time {
    font-size: 1rem;
    color: #999;
}

pre {
    padding: 1rem;
}

code, pre {
    background-color: #f9f9ff;
}

ul li {
    list-style-type: disc;
}
